#lear {
    text-align: center;
    font-size: 60px;
}

#head {
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}

header{
    position: relative;
    background-color: rgb(22, 143, 108);
}

nav a {
    margin: 0 12px;
}

nav {
    display: block;
    text-align: center;
    padding: 10px;
}