#whoAmI {
    text-align: center;
    font-size: 60px;
}

#testa {
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}

header{
    position: relative;
    background-color: rgb(22, 143, 108);
}

nav {
    position: absolute;  
    top: 0;
    right: 0;
    text-align: right;
    padding: 10px;
}